<%- include('../partials/header') %>

    <form action="/skills" method="POST" autocomplete="off">
        Name: <input type="text" name="name"><br>
        Experience: <input type="text" name="experience">
        <button type="submit">Save Skill</button>
    </form>

<%- include('../partials/footer') %>